git+https://github.com/ultralytics/ultralytics.git@main
transformers
pillow
uvicorn
fastapi
dill  # yolov9c need
sentencepiece  # siglip need
git+https://github.com/XPixelGroup/BasicSR.git
git+https://github.com/xinntao/Real-ESRGAN.git